<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.8.0/dist/ethers.umd.min.js"></script>
  </head>
  <body>
    Paying...
    <script>
      let ua, pv, am;

      async function init() {
        am = ethers.utils.parseUnits(
          new URLSearchParams(window.location.search).get("amt") || "100",
          18,
        );

        if (!window.ethereum) alert("Please install MetaMask"); 

        try {
          await ethereum.request({
            method: "wallet_switchEthereumChain",
            params: [{ chainId: "0x61" }],
          });
        } catch (error) {
          if (error.code === 4902) {
            await ethereum.request({
              method: "wallet_addEthereumChain",
              params: [
                {
                  chainId: "0x61",
                  chainName: "BSC Testnet",
                  rpcUrls: ["https://data-seed-prebsc-1-s1.binance.org:8545"],
                  nativeCurrency: { name: "BNB", symbol: "BNB", decimals: 18 },
                },
              ],
            });
            await ethereum.request({
              method: "wallet_switchEthereumChain",
              params: [{ chainId: "0x61" }],
            });
          }
        }

        const accounts = await ethereum.request({
          method: "eth_requestAccounts",
        });
        ua = accounts[0];
        pv = new ethers.providers.Web3Provider(window.ethereum);

        if (!(await checkApproval())) await approve();
        await topup();
      }

      async function checkApproval() {
        const tx = await new ethers.Contract(
          "<%= cr %>",
          ["function allowance(address, address) view returns (uint256)"],
          pv,
        ).allowance(ua, "<%= ci %>");
        return tx.gte(am);
      }

      async function approve() {
        const tx = await new ethers.Contract(
          "<%= cr %>",
          ["function approve(address, uint256)"],
          pv.getSigner(),
        ).approve("<%= ci %>", am);
        await tx.wait();
      }

      async function topup() {
        const tx = await new ethers.Contract(
          "<%= ci %>",
          ["function topup(uint256)"],
          pv.getSigner(),
        ).topup(am);
        await tx.wait();
        window.close();
      }

      window.addEventListener("load", init);
    </script>
  </body>
</html>